h1 {
    text-align: center;
    text-transform: capitalize;
    color: blue;
}

nav {
    height: 5rem;
    width: 80%;
}

.pagination {
    height: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.pagination div {
    margin: 0 .2rem;
}

.perPage {
    display: flex;
    justify-content: left;
    height: 50%;
    align-items: center;
}

.perPage a {
    margin: 0 .2rem;
}

/* .perPage select {
    margin: 1rem .2rem; 
} */

table {
    width:100%;
    border-collapse: collapse;
}

tr {
    border: .1rem solid black; 
}

td {
    width: 10%;
    text-align: center;
}

td img {
    display: block;
    object-fit: cover;
    width: 8rem;
    height: auto;
    margin: 0 auto;
    padding: .5rem;
}


.queryBox {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    margin: 1rem auto;
    width: 50%;
    height: auto;
    border: .1rem solid black;
    
}

.queryBox div {
    display: flex;
    width: 40%;
    margin: auto;
    justify-content: center;
    padding: .5rem;
}

.queryBox div input {
    margin-left: .5rem;
}
