table {
    border-collapse: collapse;
}

tr {
    border: .1rem solid black; 
}

td {
    width: 10%;
    text-align: center;
}

td img {
    display: block;
    object-fit: cover;
    width: 8rem;
    height: auto;
    margin: 0 auto;
    padding: .5rem;
}

h1 {
    text-align: center;
    text-transform: capitalize;
    color: blue;
}

.queryBox {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    margin: 1rem auto;
    width: 50%;
    height: auto;
    border: .1rem solid black;
    
}

.queryBox div {
    display: flex;
    width: 40%;
    margin: auto;
    justify-content: center;
    padding: .5rem;
}

.queryBox div input {
    margin-left: .5rem;
}
