<!DOCTYPE html>
<html lang="en" xlmns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
</head>
<body>
    <h1>Library of Alexandria</h1>

    <form 
        action="#" 
        th:action="@{/search/{id}(id=${query.id})}"
        th:object="${query}" 
        method="POST"
    >
            Title:
            <input type="text" th:field="*{title}"/>
            Author:
            <input type="text" th:field="*{author}"/><br>
            <input type="submit" value="Search" />
    </form>  
</body>
</html>